[submodule "mediaLib/3rdParty/DirectXMath"]
	path = mediaLib/3rdParty/DirectXMath
	url = https://github.com/Microsoft/DirectXMath.git
[submodule "mediaLib/3rdParty/stb"]
	path = mediaLib/3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "mediaLib/3rdParty/SDL2"]
	path = mediaLib/3rdParty/SDL2
	url = https://github.com/rainerzufalldererste/SDL2build.git
[submodule "mediaLib/3rdParty/glew"]
	path = mediaLib/3rdParty/glew
	url = https://github.com/rainerzufalldererste/glewBuild.git
[submodule "mediaLib/3rdParty/utf8proc"]
	path = mediaLib/3rdParty/utf8proc
	url = https://github.com/rainerzufalldererste/utf8procBuild.git
[submodule "mediaLib/3rdParty/imgui"]
	path = mediaLib/3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "mediaLib/3rdParty/cJSON"]
	path = mediaLib/3rdParty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
